# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
env/
.ptyhon-version
.pytest_cache/

# OS/editor cruft
.DS_Store
Thumbs.db
.idea/
.vscode/

# Logs
*.log

# Office docs (keep them out of code repo)
*.doc
*.docx
*.ppt
*.pptx
*.xls
*.xlsx
